*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: arial;
}

/* **************header**************** */

.navBar{
    padding: 2em;
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 10;
}

.bgOrange{
    background-color: orangered;    
}

.heightHeader{
    height: 80px;
    color: white;
}

.boxed {
    max-width: 1300px;
    margin: auto;
}

.flex{
    display: flex;
    justify-content: space-between;
}

a{
    text-decoration: none;
    color: white;
    padding-right: 10px;
}

#imgBoolean{
    height: 30%;
    display: block;
}

.boxLogo{
    height: 80px;
}

/* *****main******* */

.card{
    width: 33.33%;
    padding: 1em;
    transition: all 0.3s ease 0s;
}

.flexWrap{
    display: flex;
    flex-wrap: wrap;
    margin-top: 160px;
    margin-bottom: 100px    
}

.cardImg{
    width: 100%;
    position: relative;
}

img{
    width: 100%;
}

.label{
    position: absolute;
    left: 0px;
    top: 90%;
    color: white;
}

.imgA{
    display: block;
}

.imgB{
    display: none;
}

.card:hover .imgA{
    display: none;

}

.card:hover .imgB{
    display: block;
}

.sconto{
    background-color: red;
    padding: 5px 10px;
}

.sust{
    background-color: green;
    padding: 5px 10px;
}

.heart{
    position: absolute;
    top: 100px;
    right: 0px;
    background-color: white;
    padding: 5px 10px; 
    font-size: 30px;
}

.heart:hover{
    color: red;
    scale: 1.5;
}

.redPrice{
    color: red;
}

.lineThrough{
    text-decoration: line-through;
}

/* *********footer******** */

footer{
 background-color: rgba(0, 0, 0, 0.774);   
}

.linkBottom{
    margin-top: 15px;
    margin-bottom: 10px;
    
}

h2{
    color: white;
    margin-bottom: 10px;    
}

h4{
    color: white;
    margin-bottom: 10px;    
}

.socialIcon{
    color: white;
    font-size: 20px;
}
