*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* **************header**************** */

.navBar{
    padding: 2em;
    width: 100vw;
    position: fixed;
}

.bgOrange{
    background-color: orangered;    
}

.heightHeader{
    height: 80px;
    color: white;
}

.boxed {
    max-width: 1300px;
    margin: auto;
}

.flex{
    display: flex;
    justify-content: space-between;
}

a{
    text-decoration: none;
    color: white;

}

#imgBoolean{
    height: 30%;
    display: block;
}

.boxLogo{
    height: 80px;
}

/* *****main******* */

.card{
    width: 33.33%;
}

.flexWrap{
    display: flex;
    flex-wrap: wrap;    
}

.cardImg{
    width: 100%;
}

img{
    width: 100%;
}



